/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

body {
  min-width: 570px;
  font-family: 'Work Sans', sans-serif;
  line-height: 2.5;
  color: #4a4a4a;
}

.header {
  padding: 2.75rem 0;
  background-color: rgb(35, 2, 63);
}

.header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.header input {
  color: rgb(191, 191, 191);
  border-radius: 19px;
  margin-right: .625rem;
  cursor: help;
}

.header .fa-search {
  padding: .5rem;
  border-radius: 19px;
  text-align: center;
  background-color: rgb(255, 0, 171);
  color: rgb(35, 2, 63);
}

.header .fa-search:hover {
  background-color: rgb(255, 102, 204);
  cursor: pointer;
}

.attributes {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.track {
  display: flex;
  padding: .6rem;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}

.track div {
  display: flex;
  align-items: center;
}
